<div class="row pinnable-image-row" style="display: inline-block">
    <div class="pinnable-image-container image-content-container">
        <div class="pin-container cd-product cd-container">
            <div class="pin-list cd-product-wrapper">
                <img src="{{imageSrc}}" data-id="{{imageUniqueId}}" class="post-image" (click)="insertNewPinToImage($event)">
                <ul id="{{imageUniqueId}}-Ul" class="pin-point-list">
                    <template ngFor [ngForOf]="pins" let-pin="$implicit" let-i="index">
                        <froala-bf-pin-icon [pin]="pin" (sendPin)="action($event)"></froala-bf-pin-icon>
                    </template>
                    <froala-bf-pin *ngIf="lastOpenedPin" [pin]="lastOpenedPin" [isNew]="lastPinIsNew" (sendPin)="action($event)"></froala-bf-pin>
                </ul>
            </div>
        </div>
    </div>
</div>
