/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* --------------------------------

Main components

-------------------------------- */

.cd-single-point {
  position: absolute;
  border-radius: 50%;
}

.cd-single-point > a {
  /*z-index: 2;*/
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background-color: #cfccc3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-single-point > a::after, .cd-single-point > a:before {
}

.cd-single-point > a::after {

}

.cd-single-point > a::before {
}

.cd-single-point.is-open > a {
  background-color: #cfccc3;
}

.cd-single-point.is-open > a::after, .cd-single-point.is-open > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

@media only screen and (max-width: 766px) {
  .cd-single-point.is-open .cd-more-info {
    /*margin-top: 50px;*/
    display: none;
  }
}

.cd-single-point.is-open > .cd-img-replace {
  background-color: #2e6da4;
}

.cd-single-point i.icn.icn-add_pin {
  position: absolute;
  z-index: 1;
  left: 5px;
  font-size: 13px;
  top: 7px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .cd-single-point.is-open .cd-more-info.cd-left {
    right: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-right {
    left: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-top {
    bottom: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-bottom {
    top: 140%;
  }
}

.cd-single-point .cd-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}

.cd-single-point .cd-more-info h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: .6em;
}

.cd-single-point .cd-more-info p {
  color: #758eb1;
}

.cd-single-point .cd-more-info span strong {
  font-weight: 300;
  color: #9c9da9;
}

.pin-row-list-element{
  text-align: left;
  padding: 5px 0;
}

.cd-single-point .pin-block {
  padding-bottom: 10px!important;
}

.cd-single-point .add-pin-form input {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

@media only screen and (min-width: 600px) {
  .cd-single-point .cd-more-info {
    position: absolute;
    width: 250px;
    height: auto;
    padding: 15px 15px;
    overflow-y: visible;
    z-index: 500;
    line-height: 1.4;
    border-radius: 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .cd-single-point .cd-more-info::before {
    display: block;
  }
  .cd-single-point .cd-more-info.cd-left, .cd-single-point .cd-more-info.cd-right {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left::before, .cd-single-point .cd-more-info.cd-right::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left {
    right: 160%;
    left: auto;
  }
  .cd-single-point .cd-more-info.cd-left::before {
    border-left-color: rgba(255, 255, 255, 0.95);
    left: 100%;
  }
  .cd-single-point .cd-more-info.cd-right {
    left: 160%;
  }
  .cd-single-point .cd-more-info.cd-right::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .cd-single-point .cd-more-info.cd-top, .cd-single-point .cd-more-info.cd-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top::before, .cd-single-point .cd-more-info.cd-bottom::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top {
    bottom: 160%;
    top: auto;
  }
  .cd-single-point .cd-more-info.cd-top::before {
    border-top-color: rgba(255, 255, 255, 0.95);
    top: 100%;
  }
  .cd-single-point .cd-more-info.cd-bottom {
    top: 160%;
  }
  .cd-single-point .cd-more-info.cd-bottom::before {
    border-bottom-color: rgba(255, 255, 255, 0.95);
    bottom: 100%;
  }
  .cd-single-point .cd-more-info h2 {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .cd-single-point .cd-more-info p {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.pin-container .cd-single-point .cd-more-info span {
  color: #50515e;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
}

.pin-container .cd-single-point .cd-more-info span p {
  color: #000 !important;
  font-size: 16px !important;
}

.pin-container .cd-single-point .cd-more-info h1 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
}

.pin-container .cd-single-point .cd-more-info a {
  color: #4c4c4c;
  font-size: 11px;
  text-indent: inherit;
}

.pin-container .cd-single-point .cd-more-info .link {
  margin-bottom: 5px;
}

.cd-single-point > i.icn-add_pin {
  cursor: pointer;
}
.cd-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
