<li id="modal-{{pin.uniqueId}}" class="cd-single-point" [class.is-open]="true" [style.top]="pin.positionY + '%'" [style.left]="pin.positionX + '%'">
    <div class="cd-more-info"
            [class.cd-top]="tooltipDirection == 'top'"
            [class.cd-bottom]="tooltipDirection == 'bottom'"
            [class.cd-left]="tooltipDirection == 'left'"
            [class.cd-right]="tooltipDirection == 'right'">
        <div class="add-pin-form form-group clearfix">
            <div class="pin-block">
                <a><i class="icn icn-add_pin"></i></a>
                <span>Hanger <strong>details:</strong></span>
            </div>
            <form [formGroup]="form">
                <input type="text" class="col-sm-12 product" placeholder="Product name" formControlName="product"/>
                <div class="validation-error-msg add-pin-form-valid" [hidden]="form.get('product').valid||!form.get('product').touched">Product is empty or name is too long, max. 30 character allowed!</div>
                <input type="text" class="col-sm-12 store" placeholder="Store name" formControlName="store"/>
                <div class="validation-error-msg add-pin-form-valid" [hidden]="form.get('store').valid">Store name is too long, max. 25 character allowed!</div>
                <input type="text" class="col-sm-12 tags" placeholder="#Tags" formControlName="tags"/>
                <div class="validation-error-msg add-pin-form-valid" [hidden]="form.get('tags').valid">Too many tags or too long tags, max. 10 tags or 45 characters limitation per tag allowed!</div>
                <input type="text" class="col-sm-12 link" placeholder="Link" formControlName="link"/>
                <div class="validation-error-msg add-pin-form-valid" [hidden]="form.get('link').valid">Not valid url!</div>
                <button *ngIf="isNew" class="cd-close-info-button btn btn-xs btn-inline btn-gray not-close-pin-mode" (click)="close()">Discard</button>
                <button *ngIf="isNew" class="btn btn-xs btn-inline btn-blue pull-right not-close-pin-mode" [disabled]="!form.valid" (click)="save()">Add</button>
                <button *ngIf="!isNew" class="cd-close-info-button btn btn-xs btn-inline btn-gray not-close-pin-mode" (click)="close()">Cancel</button>
                <button *ngIf="!isNew" class="cd-close-info-button btn btn-xs btn-inline btn-gray remove-saved-pin not-close-pin-mode" (click)="delete()">Delete</button>
                <button *ngIf="!isNew" class="btn btn-xs btn-inline btn-blue pull-right not-close-pin-mode" [disabled]="!form.valid" (click)="save()">Update</button>
            </form>
        </div>
    </div>
</li>
